/* Bug with Shopify: selecteble: false not workin
*  Use CSS to disable checkboxes instead
*/
.Polaris-IndexTable__TableHeading--first,
.Polaris-IndexTable__TableCell--first {
    display: none;
}
.Polaris-IndexTable__StickyColumnHeaderCheckbox {
    display: none;
}

@media (max-width: 464px) {
    /* Set fill width to stack of form fields */
    .Polaris-Stack > .Polaris-Stack__Item {
        width: calc(100% - 1.6rem);
    }
}
